{
    "env": {
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 2019,
        "sourceType": "module"
    },
    "extends": [
        "standard",
        "plugin:import/warnings",
        "plugin:import/errors",
        "plugin:ava/recommended"
    ],
    "rules": {
        "ava/no-ignored-test-files": ["error", { "files": ["src/**/*.js", "tests/**/*.js"] }]
    }
}
